<%- include('includes/head', { pageTitle : '404' }) %>
    <link rel="stylesheet" href="/styles/forms.css" />
    <link rel="stylesheet" href="/styles/auth.css" />
    </head>

    <body>
        <%- include('includes/header') %>
            <main>
                <h1>Could not find resource!</h1>
                <p>Unfortunately, we Could not find resource! </p>
                <p><a class="btn" href="/">Get back to safety!</a></p>
            </main>
        <%- include('includes/footer') %> 