<%- include('../../shared/includes/head', { pageTitle : 'Success!' }) %>
 
</head>

<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Order was Sucessfull</h1>
                
    </main>
    <%- include('../../shared/includes/footer') %>